h1 {
  text-align: center;
}

#container {
  height: 430px;
  width: 400px;
  margin: 0 auto;
}

.simon {
  height: 200px;
  width: 200px;
  float: left;
}

#red {
  background-color: red;
  border-radius: 200px 0 0 0;
}

#green {
  background-color: green;
  border-radius: 0 0 0 200px;
}

#blue {
  background-color: blue;
  border-radius: 0 200px 0 0;
}

#yellow {
  background-color: yellow;
  border-radius: 0 0 200px 0;
}

input {
  display: block;
  margin: auto;
}
