html {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-content: center;
  -webkit-align-content: center;
  -moz-align-content: center;
}

body {
  /*margin: 0 auto;*/
  background-image: url("IMAGES/harddrive.jpg");
  background-size: auto;
  font-family: 'Audiowide', cursive;
  background-position: 0px 0px;
  animation: animatedBackground 10s linear infinite;
  -webkit-animation: animatedBackground 10s linear infinite;
  -moz-animation: animatedBackground 10s linear infinite;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;

  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;

  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;

  align-content: center;
  -webkit-align-content: center;
  -moz-align-content: center;

  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
}


@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

@-webkit-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

@-moz-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

#container {
  height: 460px;
  width: 460px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 100px 100px 100px 100px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;

  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;

  align-content: center;
  -webkit-align-content: center;
  -moz-align-content: center;

  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;

  background-image: url("IMAGES/techbackground.jpg");
}

div, header {
  width: 90%;
  margin: 0 auto;
}

.simon {
  height: 200px;
  width: 200px;
  padding: 2px;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, .8);
}

#red {
  border-radius: 100px 0 0 0;
}

#green {
  border-radius: 0 0 0 100px;
}

#blue {
  border-radius: 0 100px 0 0;
}

#yellow {
  border-radius: 0 0 100px 0;
}

.box {
  background-color: black;
  border: 6px solid #b0f8f7;
  color: #b0f8f7;
  width: 500px;
  margin: 20px auto;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  margin: 10px auto;
}

#panels {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
}

.button {
  height: 100px;
  width: 120px;
  margin: 20px auto;
  box-shadow: 4px 4px 0 #b0f8f7;
  border-radius: 12px;
}

.button:active {
  box-shadow: 4px 1px 0 #b0f8f7;
}

#start, #timer, #clicks {
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 25px;
  font-weight: bolder;
}

@media screen and (max-width: 500px) {

  html {
    width: 163vw;
    height: 160vh;
  }
  body {
    height: auto;
    width: auto;
  }

}
